<mat-toolbar class="yellow">
    <span>Star Wars Characters</span>
</mat-toolbar>

<div class="content">
    <div>
        <mat-spinner *ngIf="isLoading" class="mat-spinner-color" style="margin: auto; margin-top: 300px;"></mat-spinner>
    </div>
    <div *ngIf="!isLoading" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center center">
        <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="33" *ngFor="let p of peopleArray">
            <mat-card class="mat-elevation-z4">
                <h3 class="ta-left bold">{{ p?.properties.name }}</h3>
                <mat-card-subtitle class="ta-left">{{ p?.properties.gender | uppercase}}</mat-card-subtitle>
                <img mat-card-image src="./assets/images/characters.jpg" alt="Star Wars Charactere">
                <mat-card-content class="ta-left">
                    Größe: {{ p?.properties.height }}
                    <br>
                    Geburtsjahr: {{ p?.properties.birth_year }}
                </mat-card-content>
            </mat-card>
            <button mat-stroked-button class="detail-button yellow" (click)="showDetails(p)">Details</button>
        </div>
        <div *ngIf="showDetail" fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" class="detail-box">
            <mat-card *ngIf="homeworldName">
                <mat-card-title class="ta-left">Details</mat-card-title>
                <mat-card-content class="ta-left">
                    Heimatplanet: {{homeworldName}}<br>
                    Terrain: {{terrain}}
                </mat-card-content>
                <button class="yellow" mat-raised-button (click)="closeDetails()">Close</button>
            </mat-card>
        </div>
    </div>
</div>
<!--<div class="footer" #footer>-->
<!--</div>-->
